.foto-perfil {
    width: 200px;
    border: 5px solid #FFFFFF; /* shorthand */
    border-radius: 50% 50% 50% 50%;
    /*
    border-width: 5px;
    border-style: solid;
    border-color: black;
    */
}

body {
    background: #dfdfdf;
}

p {
    color: #222222;
}