* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.header {
    background: linear-gradient(186deg, rgba(244,244,244,1) 13%, rgba(255,243,227,1) 98%);
    text-align: center;
    color: white;
    padding: 0;
    font-size: 20px;
    box-shadow: 0 0 10px black;
    margin-bottom: 10px;
}

.header img {
    width: 15%;
    align-items: center;
    margin: -50px;
}

.container {
    display: flex;
}

.navbar {
    width: 15%;
    padding: 30px;
}

.navbar ul {
    list-style: none; 
}

.navbar ul li{
    margin: 6px 12px;
    width: 100%;
}

.navbar li a {
    display: block;
    background: linear-gradient(186deg, rgba(244,244,244,1) 13%, rgba(255,243,227,1) 98%);
    padding: 10px 10px;
    border-radius: 25px 0px 25px 0px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}


.navbar li a.active {
    box-shadow: 0 0 3px rgb(74, 74, 74);
    background: linear-gradient(186deg, rgba(244,244,244,1) 13%, rgba(255,243,227,1) 98%);
    color: black;
}

.content {
    margin-top: 20px;
    width: 88%;
    background: linear-gradient(186deg, rgba(244,244,244,1) 13%, rgb(255, 255, 255) 98%);
    padding: 30px;
    border-radius: 25px 0px;
    margin: 20px 20px 20px 0;
}

.content a{
    display: block;
    background: #34af23;
    padding: 10px 10px;
    border-radius: 25px 25px 25px 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 20%;
}

h1 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
    background: linear-gradient(186deg, rgba(244,244,244,1) 13%, rgba(255,243,227,1) 98%);
    text-align: center;
    padding: 20px 0;
}